<div class="container transparent-field text-center">
    <h1 class="header-font pt-3">Guides</h1>
    <div class="container-fluid table-responsive">
        <div *ngIf="isLoggedIn()">
            <a class="btn btn-primary shadow-none mt-5 mb-2 float-right mx-3 px-5" routerLink='./new'>New guide</a>
        </div>
        <table class="table table-dark mb-5">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            <tbody>
                <tr *ngFor="let guide of guideList">
                    <td>{{guide.title}}</td>
                    <td><span *ngFor="let tag of guide.tags; let i=index">
                            <span *ngIf="i < guide.tags.length-1">{{tag + ", "}}</span>
                            <span *ngIf="i == guide.tags.length-1">{{tag}}</span>
                        </span></td>
                    <td>{{guide.creationDate | date}}</td>
                    <!-- more -->
                    <td><a class="btn btn-primary shadow-none" [routerLink]="['./', guide.id]">more</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>