<header>
    <nav class="fixed-top transparent-field navbar navbar-expand-lg navbar-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed" [attr.aria.expand]="!isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="about">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="kanjilist">Kanji lists</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="guide">Guides</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="practiceresource">Practice resources</a>
                </li>
            </ul>
            <div *ngIf="!isLoggedIn()">
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-primary my-2 my-sm-0 mx-2 shadow-none" type="submit"
                        routerLink="login">Login</button>
                    <button class="btn btn-primary my-2 my-sm-0 mx-2 shadow-none" type="submit"
                        routerLink="register">Register</button>
                </form>
            </div>
            <div *ngIf="isLoggedIn()">
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-primary my-2 my-sm-0 mx-2 shadow-none"
                        type="submit">{{user?.userName}}</button>
                    <button class="btn btn-primary my-2 my-sm-0 mx-2 shadow-none" type="submit"
                        (click)="onLogout()">logout</button>
                </form>
            </div>
        </div>
    </nav>
</header>