<div class="container transparent-field text-center">
    <h1 class="header-font pt-3">Practice resources</h1>
    <div class="container-fluid table-responsive">
        <div *ngIf="isLoggedIn()">
            <a class="btn btn-primary shadow-none mt-5 mb-2 float-right mx-3 px-5" routerLink='./new'>New practice
                resoure</a>
        </div>
        <table class="table table-dark mb-5">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Required skills</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            <tbody>
                <tr *ngFor="let resource of practiceResources">
                    <td>{{resource.title}}</td>
                    <td><span *ngFor="let skill of resource.requiredSkills; let i=index">
                        <span *ngIf="i < resource.requiredSkills.length-1">{{skill + ", "}}</span>
                        <span *ngIf="i == resource.requiredSkills.length-1">{{skill}}</span>
                    </span></td>
                    <td>{{resource.creationDate | date}}</td>
                    <!-- more -->
                    <td><a class="btn btn-primary shadow-none" [routerLink]="['./', resource.id]">more</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>