<div class="container transparent-field text-center">
    <div class="container-fluid">
        <form>

            <label class="header-font float-left mt-4">Name:</label>
            <!-- form name -->
            <input name="name" type="text" class="form-control mt-1" placeholder="write a name..."
                aria-label="Example text with button addon" aria-describedby="button-addon1">

            <label class="header-font float-left mt-3">Description:</label>
            <div class="input-group">
                <!-- form description -->
                <textarea name="description" class="form-control mt-1" rows="4" aria-label="With textarea"
                    placeholder="(e.g) This list contains the 500 most common characters that appear in a newspaper."></textarea>
            </div>
            <label class="header-font float-left mt-4">Tags:</label>
            <!-- form tags -->
            <input name="tags" type="text" class="form-control mt-1"
                placeholder="seperate by comma (e.g): JLPT, N5, N4, n3, jlpt test, newspaper"
                aria-label="Example text with button addon" aria-describedby="button-addon1">
            <hr>
            <a href="#" class="super-button mx-3 px-5">Submit</a>
            <hr>
        </form>
    </div>
</div>