<div class="container transparent-field text-center">
    <h1 class="header-font">About</h1>
    <p>With my kanji list you can track your learning process and find new learning material suited for your skill
        level.

        The idea behind the website is to solve the problem of people not knowing if certain Japanese learning material
        is suited for their level.
        Many intermediate and above textbooks and courses require prior knowledge such as certain grammar points
        vocabulary and kanji characters.
        By letting other learners make lists for certain courses and books that can be seen on the website it'll become
        easier to find suitable learning material.</p>

    <h2 class="header-font pt-2">What is a kanji list?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt id, et maiores dicta aut delectus rem labore
        culpa fugiat, quam facilis voluptatibus accusantium quia adipisci tempore nobis aliquid maxime? Minus?</p>

    <h2 class="header-font pt-2">What are courses?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt id, et maiores dicta aut delectus rem labore
        culpa fugiat, quam facilis voluptatibus accusantium quia adipisci tempore nobis aliquid maxime? Minus?</p>

    <h2 class="header-font pt-2">What are information lists??</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt id, et maiores dicta aut delectus rem labore
        culpa fugiat, quam facilis voluptatibus accusantium quia adipisci tempore nobis aliquid maxime? Minus?</p>

</div>