<div class="container transparent-field text-center">
    <h1 class="header-font pt-3">{{guide?.title | uppercase}}</h1>
    <h6>{{guide?.creationDate | date}}</h6>
    <div *ngIf="kanjiList !== undefined && kanjiList !== null">
        <h3>This Guide requires the Character list:</h3>
        <a class="super-button no-shadow"
            [routerLink]="['../../kanjilist/', kanjiList.id]">{{kanjiList?.name}}</a>
    </div>
    <div class="container">
        <article class="py-3 mb-4 overflow">{{guide?.content}}</article>
    </div>
</div>