<div class="container transparent-field text-center">
    <h1 class="header-font">MyKanjiList</h1>
    <p>With MyKanjiList you can track your learning process and find new learning material suited for your skill
        level.

        The idea behind the website is to solve the problem of people not knowing if certain Japanese learning material
        is suited for their level.
        Many intermediate and above textbooks and courses require prior knowledge about vocab or characters.
        By letting other learners make kanji lists, guides and practice resourses, it becomes easier to: find suitable
        learning resources for your skill level, practice with a particular set of kanji characters and find out about
        tips and tricks you wouldn't have found in a textbook.</p>

    <p>Don't have an account yet?</p>
    <a routerLink="register" class="super-button">Start here</a>
    <h1 class="pt-2 japanese-tw"></h1>
    <hr>

</div>