<div class="container transparent-field text-center">
    <h1 class="header-font">MyKanjiList</h1>
    <p>With my kanji list you can track your learning process and find new learning material suited for your skill
        level.

        The idea behind the website is to solve the problem of people not knowing if certain Japanese learning material
        is suited for their level.
        Many intermediate and above textbooks and courses require prior knowledge such as certain grammar points
        vocabulary and kanji characters.
        By letting other learners make lists for certain courses and books that can be seen on the website it'll become
        easier to find suitable learning material.</p>

    <p>Don't have an account yet?</p>
    <a href="#" class="super-button">Start here</a>
    <hr>

</div>