@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Yuji+Mai&display=swap');
/* Application-wide Styles */
h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    background: #2f2f2f;
  }
  body, input[type="text"], button {
    color: rgb(255, 255, 255);
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

.header-font {
  font-family: 'RocknRoll One', sans-serif;
}

  .transparent-field {
    background-color: rgb(0, 0, 0, .2);
    border-color: #2f2f2f;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,.7);
  }

  .nav-link {
    color: white !important;
    font-size: 1.6em;
    font-family: 'Arial Bold', sans-serif;
  }

  .nav-link:hover {
    color: #8a0000 !important;
    font-size: 1.6em;
    font-family: 'Arial Bold', sans-serif;
    transition: color 0.2s ease-in;
    cursor:pointer;
  }

  
  .btn, .btn-primary {
    background-color: #8a0000 !important;
    border-color: #8a0000 !important;
  }

  .btn:hover, .btn-primary:hover {
    background-color: #6b0202 !important;
    border-color: #6b0202 !important;
  }

.super-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  background-color: rgb(138, 0, 0);
  border-color: rgb(138, 0, 0);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,.7);
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.super-button:hover {
  transition: background-color 0.28s ease-in;
  background-color: #6b0202;
  color: white;
  text-decoration: none;
}

.japanese-cursive {
  font-family: 'Yuji Mai', serif;
}

.dark-bg {
  background-color: #353a40;
  border-radius: 5px;
}

textarea{ 
  background-color:#353a40 !important;
  color: white !important;
}

input[type="text"], input[type="password"]{
  background-color:#353a40 !important;
  color: white !important;
  }


  select {
    background-color:#353a40 !important;
    color: white !important;
  }

a {
  color: #eb0606;
}

a:hover {
  color: #9c0101;
}

.validation-error {
  color: #e00000;
  size: 0.5em;
}
