<div class="container transparent-field text-center">
    <h1 class="header-font pt-3">{{kanjiList?.name | uppercase}}</h1>
    <h3 class="py-3 mb-4">{{kanjiList?.description}}</h3>
    <div class="container-fluid">
        <div class="dark-bg p-5">
            <h4 class="text-left">Kanji characters in this list:</h4>
            <div class="row ustify-content-center">
                <span *ngFor="let kanji of kanjiList?.kanji; let i = index">
                    <div class="col-12">
                        <h2>{{kanji}}</h2>
                    </div>
                </span>
            </div>
        </div>
        <hr>
    </div>
</div>